.table-holder {
  overflow-x: auto;
  width: 100%;
}

table {
  width: 100%;
  min-width: 450px;
  border-collapse: collapse;
  border: 1px solid #5a5a5a;
  margin-bottom: 20px;

  th, td {
    text-align: left;
    border-bottom: 1px solid #5a5a5a;
    padding: 8px;
  }

  th {
    font-weight: 700;
    background-color: #c0c0c0;
  }

  td {
    width: calc(100% / 3 - 24px);
    background-color: #f2f2f2;
    &:first-child {
      width: 72px;
    }
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
  }
}
